.section-3 {
  background-color: color(color-primary-2);
  padding: 6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    max-width: 55rem;
    margin-right: 6rem;
    &--title {
      font-size: 3.2rem;
      color: white;
      font-family: "Raleway", sans-serif;
      margin-bottom: 2rem;
      line-height: 1.6;
    }

    &--para {
      color: white;
    }
  }
  &__email {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 2rem;
    }
  }

  @include media-tablet {
    flex-direction: column;
    text-align: center;

    &__text {
      margin-right: 0;
      &--para {
        font-size: 1.4rem;
      }

      &--title {
        font-size: 2.5rem;
      }
    }

    &__email {
      input,
      button {
        width: 100%;
      }

      input {
        margin-top: 4rem;
      }
    }
  }

  @include media-small {
    &__text {
      &--para {
        font-size: 1.2rem;
      }
    }
  }
}
